@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilização do HTML */

input {
    @apply p-2 rounded-lg outline-none text-blue-900 w-full;
}

select {
    @apply p-2 rounded-lg outline-none text-blue-900 w-full h-10;
}

label {
    @apply block font-sans font-bold text-base text-blue-900;
}

button {
    @apply py-2 rounded-lg outline-none w-32 md:w-48;
}


/* Botões */

.botao-azul-1 {
    @apply bg-blue-200 hover:bg-blue-300 text-blue-800 hover:text-blue-700 font-bold;
}


/* Componentes */

.modal {
    @apply rounded-lg bg-blue-100 p-6 w-11/12 h-full overflow-auto;
}

.backdrop {
    @apply absolute top-0 left-0 right-0 bottom-0 h-screen w-screen bg-[#000000e1] flex
    items-center justify-center overflow-y-hidden z-50 py-12;
}

.inputs {
    @apply grid grid-cols-12 gap-4;
}

.sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-blue-300
    hover:bg-blue-900 text-blue-900 hover:text-blue-300 hover:rounded-xl
    rounded-3xl transition-all duration-300 ease-linear cursor-pointer shadow-lg;
}

.sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-blue-900
    text-xs font-bold transition-all duration-200 scale-0 origin-left;
}

.sidebar-tooltip-2 {
    @apply absolute w-auto p-2 m-2 min-w-max bottom-14 rounded-md shadow-md text-white bg-blue-900
    text-xs font-bold transition-all duration-100 scale-0 origin-left;
}

.coluna-grid {
    @apply px-6 py-4 whitespace-nowrap text-sm font-medium;
}

/* Features */

.t-1 {
    @apply text-blue-900 font-bold border-l-8 border-l-blue-900 pl-3 text-4xl;
}

.t-2 {
    @apply text-blue-900 font-bold border-l-8 border-l-blue-900 pl-3 text-2xl;
}

.t-3 {
    @apply text-blue-900 font-bold border-l-8 border-l-blue-900 pl-3 text-xl;
}

.invalidado {
    @apply p-2 rounded-lg outline-none text-red-800 border-solid border-2 border-red-500 w-full;
}

@media (min-width: 992px) {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}